.col-sm-4
  %table.table
    %tr
      %th{:colspan => 3} Ventas
    -@sales.each do |sale|
      %tr
        %td=sale.sale_names
        %td=number_to_currency(sale.total)
        %td=link_to 'Cancelar', sale, :confirm => 'Cancelar ' + number_to_currency(sale.total) + '?', :method => :delete

.col-sm-4
  %table.table
    %tr
      %th{:colspan => 3} Gastos
    -@gastos.each do |gasto|
      %tr
        %td=gasto.name
        %td=number_to_currency(gasto.precio)
        %td=link_to 'Cancelar', gasto, :confirm => 'Cancelar ' + number_to_currency(gasto.precio) + '?', :method => :delete
.clearfix

.col-sm-8
  -@recetas.each_pair do |key, value|
    %strong=key.capitalize
    =": " + value.to_s
.clearfix
