.span4
  %table.table
    %tr
      %th{:colspan => 2} Ventas
    -@sales.each do |sale|
      %tr
        %td=sale.sale_names
        %td=number_to_currency(sale.total)

.span4
  %table.table
    %tr
      %th{:colspan => 2} Gastos
    -@gastos.each do |gasto|
      %tr
        %td=gasto.name
        %td=number_to_currency(gasto.precio)

.clearfix

.span8
  -@recetas.each_pair do |key, value|
    %strong=key.capitalize
    =": " + value.to_s
.clearfix