%h1 Corte

=render 'corte_list'

.span8
  .pull-right{:style => 'text-align: right;'}
    Venta: 
    =number_to_currency(@sales.sum(:total))
    %br
    Gastos: 
    =number_to_currency(@gastos.sum(:precio))
    %br
    Caja:
    -if @corte_anterior
      =number_to_currency(@sales.sum(:total)-@gastos.sum(:precio)+@corte_anterior.caja)
    -else
      =number_to_currency(@sales.sum(:total)-@gastos.sum(:precio))
    %br
    =simple_form_for @corte, :html => { :class => 'pull-right' } do |f|
      =f.input :caja, :placeholder => '¿Cuánto se queda en caja?'
      %br
      -if current_user and current_user.has_role? :admin
        =f.input :fecha
        %br
      =f.button :submit, 'Hacer Corte'

.span8
  %table.table
    %tr
      %th Día
      %th Ventas
      %th Gastos
      %th Caja

    - @cortes.each do |corte|
      %tr
        %td=link_to corte.fecha.strftime("%d/%m/%Y %H:%M"), corte
        %td=number_to_currency corte.total_venta
        %td=number_to_currency corte.total_gastos
        %td=number_to_currency corte.caja


.clearfix


