// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.thumbnail{
  background: white;
}

#menu_list{
    margin-top: 1em;
    background: #ccc;
    padding: 10px;
  
  .submenu{
      display: none;
      .thumbnail{
	  cursor: pointer;
      }
  }

  .main_menu li{
      cursor: pointer;
  }
  li.span2{
      width: 120px;
  }
.thumbnails > li {
    margin-left: 20px;
}
.thumbnails {
    margin-left: -20px;
}

}

#numpad{
    input[type="text"]{
	height: 45px;
	width: 254px;
	margin: 0;
	font-size: 1.8em;
    }

    button{
	width: 100%;
    }
    button.double{
	height: 90px;
    }
}

#pago_modal{
    width: 436px;
}

#moneypad{
    button{
	width: 80px;

    }
    button.double{
	height: 126px;
    }
    .btn-large{
	border-radius: 6px 6px 6px 6px;
	font-size: 17.5px;
	padding: 20px 29px;
    }
    .empty_money{
	width: 100%;
    }
    .dado, .cambio{
	font-size: 1.8em;
	line-height: 1.5em;
    }

}

#sale_list{
    height: 180px;
    margin-right: -2px;
    border: 1px solid black;
    background: white;
    overflow: auto;
    .sale_head{
	padding: 5px 10px;
	font-weight: bold;
	border-bottom: 1px solid black;
	margin-left: 0;
    }
    .fields{
	padding: 5px 10px;
	display: table;
    }
}
.total, .p_paga, .p_cambio{
    text-align: right;
    font-size: 1.8em;
    margin-top: 1em;
}

.center_text{
    text-align: center;
}
.p_name{
    margin-left: 0;
    margin-right: 30px;
}

.cliente{
    font-size: 0.8em;
    line-height: 1em;
}

.print_map, .info_store, .p_paga, .p_cambio, .p_cliente{
    display: none;
}

#sale_nota{
    height: 30px;
    margin-top: 0.5em;
    font-size: 0.7em;
    line-height: 1em;
}
