= form_for(@gasto, :remote => true) do |f|
  .pull-left
    %p
      =@gasto.compra.name
      %br
      =image_tag(@gasto.compra.avatar_url(:thumb), :class => 'img-polaroid')

  .pull-right
    .form-group
      = f.label :volumen
      .input-group
        =f.number_field :volumen, :class => "form-control"
        %span.input-group-addon=@gasto.compra.medida

    .form-group
      = f.label :precio
      .input-group
        %span.input-group-addon $
        =f.number_field :precio, :class => 'form-control'
    .form-group
      =f.label :nota
      =f.text_field :nota, :class => 'form-control'
    

    %label.checkbox{ :for => "gasto_es_caja"}
      =f.check_box :es_caja, :checked => true
      Gasto de caja

    =f.hidden_field :compra_id 
  .clearfix
