= form_for(@gasto, :remote => true) do |f|
  .pull-left
    %p
      =@gasto.compra.name
      %br
      =image_tag(@gasto.compra.avatar_url(:thumb), :class => 'img-polaroid')

  .pull-right
    %p
      = f.label :volumen
      .input-append
        =f.number_field :volumen, :id => "appendedInput"
        %span.add-on=@gasto.compra.medida

    %p
      = f.label :precio
      .input-prepend
        %span.add-on $
        =f.text_field :precio, :id =>"prependedInput"
    %p
      =f.label :nota
      =f.text_field :nota
    

    %label.checkbox{ :for => "gasto_es_caja"}
      =f.check_box :es_caja, :checked => true
      Gasto de caja

    =f.hidden_field :compra_id 
  .clearfix
