.modal.fade{:id => divid}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Cliente
      .modal-body
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
        %button.btn.btn-primary{:type => "button", :onclick => "$('.modal-footer .btn-primary').parent().parent().find('form').submit();"} Guardar
