.row
  .col-sm-6
    =form_for @client, :html => {:class => "form-horizontal"}, :remote => true do |f|
      .form-group
        =f.label "Tel", :class => "control-label col-xs-3"
        .col-xs-9
          =f.text_field :phone, :value => params[:phone], :class => "form-control"
      .form-group
        =f.label "Calle", :class => "control-label col-xs-3"
        .col-xs-9
          =f.text_field :street, :class => "form-control"
      .form-group
        =f.label "Calle2", :class => "control-label col-xs-3"
        .col-xs-9
          =f.text_field :street2, :class => "form-control"
      .form-group
        =f.label "Colonia", :class => "control-label col-xs-3"
        .col-xs-9
          =f.text_field :district, :class => "form-control"
      .form-group
        =f.label "Notas", :class => "control-label col-xs-3"
        .col-xs-9
          =f.text_field :note, :class => "form-control"
      .form-group
        =f.label "Nombre", :class => "control-label col-xs-3"
        .col-xs-9
          =f.text_field :name, :class => "form-control"
        =f.hidden_field :latitude
        =f.hidden_field :longitude
  .col-sm-6
    #map-canvas{ :style => "width: 100%; height: 200px"}