.row
  .span2
    %strong Tel:
    =@client.phone
    -if !@client.name.blank?
      %br
      %strong Nombre:
      =@client.name
    -if !@client.note.blank?
      %br
      %strong Nota: 
      =@client.note 

  .span3
    =@client.street
    %br
    =@client.street2

.print_map=image_tag('http://maps.googleapis.com/maps/api/staticmap?center='+@client.latitude.to_s+','+@client.longitude.to_s+'&markers='+@client.latitude.to_s+','+@client.longitude.to_s+'&zoom=17&size=300x200&key=AIzaSyBUSvxOY77MsuaZXlpGUmL6RZcCuyq3F8Q&sensor=false')


