
.row
  .col-sm-2.info_store
    %h1 Rico Don Pollo
    Sierra de Mazamitla #5814
    %br
    36-32-19-53
    %br
    %br
    Recibo de Venta
    %br
    =Time.now.strftime("%d/%m/%Y %H:%M")

  .col-sm-3.cliente_search
    =form_for(Client.new, :url => search_clients_path, :remote => true) do |f|
      .input-group
        =text_field_tag "phone", '', :class=>"form-control", :id => "appendedInputButtons"
        %span.input-group-btn
          =button_tag 'Search', :class => "btn btn-default", :type => "submit"
  .cliente.col-sm-5


=nested_form_for @sale, :html => {:class => 'sale_form'} do |f|

  =f.hidden_field :client_id, :id => "client_id"
  =f.hidden_field :total
  =f.hidden_field :por_pagar

  .row
    .col-lg-8.col-md-8.col-xs-12
      #sale_list
        .col-xs-12
          .row.sale_head
            .col-sm-4.col-xs-2
              Artículo
            .col-xs-2.center_text
              Precio
            .col-xs-2.center_text
              Cant.
            .col-xs-2.center_text
              Valor



        =f.fields_for :sale_lines do |line_form|
          .col-xs-12
            .row
              .col-sm-4.col-xs-2.p_name
                blabla
              .col-xs-2.precio.center_text
                $12.00
              .col-xs-2.cantidad.center_text
                3
              .col-xs-2.valor.center_text
                $23
              .col-xs-2.remove
                hjhgjgjhgjgj
                =line_form.hidden_field :product_id, :class => "f_product"
                =line_form.hidden_field :precio, :class => "f_precio"
                =line_form.hidden_field :cantidad, :class => "f_cantidad"
                =line_form.hidden_field :valor, :class => "f_valor"
                =line_form.link_to_remove "X"


        =f.link_to_add "Add a task", :sale_lines, :style => "display: none"

      .pull-left
        =f.text_area :nota, :class => "form-control"
      .total Total: <span>0.0</span>

      .p_paga Paga con: <span>0.0</span>
      .p_cambio Cambio: <span>0.0</span>

    .cliente.p_cliente
    #numpad.col-lg-3.col-md-3.col-sm-3
      %table.col-xs-12
        %tr
          %td{:colspan=>"4"}
            =text_field_tag 'display', '', :class => "form-control"
        %tr
          %td{:colspan=>"2"}
            %button.btn.btn-large.btn-default.empty_display{:type=>"button"} CE
          %td
            %button.btn.btn-large.btn-default{:type=>"button"} *
          %td
            %button.btn.btn-large.btn-default.minus{:type=>"button"} -
        %tr
          %td
            %button.btn.btn-large.btn-default.number{:type=>"button"} 7
          %td
            %button.btn.btn-large.btn-default.number{:type=>"button"} 8
          %td
            %button.btn.btn-large.btn-default.number{:type=>"button"} 9
          %td{:rowspan=>"2"}
            %button.btn.btn-large.btn-default.double.plus{:type=>"button"} +
        %tr
          %td
            %button.btn.btn-large.btn-default.number{:type=>"button"} 4
          %td
            %button.btn.btn-large.btn-default.number{:type=>"button"} 5
          %td
            %button.btn.btn-large.btn-default.number{:type=>"button"} 6
        %tr
          %td
            %button.btn.btn-large.btn-default.number{:type=>"button"} 1
          %td
            %button.btn.btn-large.btn-default.number{:type=>"button"} 2
          %td
            %button.btn.btn-large.btn-default.number{:type=>"button"} 3
          %td{:rowspan=>"2"}
            %button.btn.btn-large.btn-default.double{:type=>"button", :onclick => "$('#pago_modal').modal('show')"} =

        %tr
          %td{:colspan=>"2"}
            %button.btn.btn-large.btn-default.number{:type=>"button"} 0
          %td
            %button.btn.btn-large.btn-default.punto{:type=>"button"} .





  .row
    #menu_list.col-lg-12.col-md-12.col-sm-12.col-xs-12
      .main_menu.well
        .thumbnails
          .row
            .col-xs-12
              %h3 Principal
          .row
            .col-xs-12
              -@product_categories.each do |pc|
                .thumbnail.main_thumbnail.col-md-1.col-lg-1.col-sm-1.col-xs-2{:id => "main" + pc.id.to_s, :rel => pc.id }
                  =image_tag(pc.avatar_url(:thumb), :class => 'img-polaroid')
                  =pc.name

      -@product_categories.each do |pc|
        %div{:class => "submenu well pc" + pc.id.to_s}


          .thumbnails
            .row
              .col-xs-12
                %button.btn.btn-large.back_main.pull-left{:type=>"button"}=image_tag('icons/up.png') + " Regresar"
                %h3.pull-left=pc.name

            .row
              .col-xs-12
                -pc.products.each do |product|
                  .thumbnail.col-md-1.col-lg-1.col-sm-1.col-xs-2{:name => product.name, :price => product.price, :product_id => product.id}
                    =image_tag(product.avatar_url(:thumb), :class => 'img-polaroid')
                    =product.name

#pago_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3 Pago
      .modal-body
        #moneypad
          .total.pull-left
            %p
              Total a pagar: <span>$0.0 </span>
          .clearfix
          %table
            %tr
              %td
                %button.btn.btn-large.number{:type=>"button"} $500
              %td
                %button.btn.btn-large.number{:type=>"button"} $200
              %td
                %button.btn.btn-large.number{:type=>"button"} $100
              %td
                %button.btn.btn-large.number{:type=>"button"} $50
              %td
                %button.btn.btn-large.number{:type=>"button"} $20
            %tr
              %td
                %button.btn.btn-large.number{:type=>"button"} $10
              %td
                %button.btn.btn-large.number{:type=>"button"} $5
              %td
                %button.btn.btn-large.number{:type=>"button"} $2
              %td
                %button.btn.btn-large.number{:type=>"button"} $1
              %td
                %button.btn.btn-large.number{:type=>"button"} $0.50
            %tr
              %td{:colspan=>"2"}
                %button.btn.btn-large.empty_money{:type=>"button"} CE
          .dado.pull-left
            Dado: <span>$0.0</span>
          .cambio.pull-right
            Cambio: <span>$0.0</span>
          .clearfix


      .modal-footer
        %button.btn{:onclick => "$('.modal').modal('hide'); window.print()"} Imprimir
        %button.btn{:onclick => "$('#sale_por_pagar').val('true'); $('.modal').modal('hide'); window.print(); $('.sale_form').submit();"}Domicilio
        %button.btn.btn-primary{:onclick => "$('.modal').modal('hide'); window.print(); $('.sale_form').submit();"} Pagar



#new_cliente.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Cliente
      .modal-body
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
        %button.btn.btn-primary{:type => "button", :onclick => "$(this).hide(); $('#new_cliente form').submit();"} Guardar
